body {
  background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif-image {
  border-radius: 20px;
  width: 800px;
  height: auto;
  border: 2px solid blue;
  margin-bottom: 50px;
}
